
.botoes{
    margin: 5rem auto 0.65rem;
    width: 40%;
    text-align: center;
}
.botao1{
    width: 50%;
    border-radius: 6p;
}
.botao2{
    width: 50%;
    border-radius: 6%;
}
.card{
    margin: 0 auto;
    width: 40%;
    min-width: 10rem;
    text-align: center;
}
.input{
    padding-left: 1rem;
    max-width: 100%;
    display: block;
}
.pular{
    display: block;
    margin-left: 5%;
}
/* .card-default{
    msa
    width: 20%;
} */
.botaoCadastro{
    width: 40%;
    padding: 0;
}
    
@media only screen and (max-width: 600px) {
    .card{
        margin: 1rem auto 0.35rem 0.35rem;
        width: 100%;
        min-width: 10rem;
        text-align: center;
    }
    .input{
        padding-left: 1rem;
        display: block;
        max-width: 100%;
    }
    .botoes{
        width: 40%;
        display: inline;
    }
    .botao1{
        width: 50%;
    }
    .botao2{
        width: 50%;
    }
}