<div *ngFor="let vagas of vagasEmpresa$ | async" class="card">  
    <div class="card-vagas">
        <div class="card-body">
          <h1 class="card-text"> Empresa: {{ vagas.nome }}</h1>
          <p class="card-text"></p>
          <p class="card-text"> Titulo da vaga: {{ vagas.titulo }}</p>
          <button mat-flat-button color="primary" class="botao" (click)="openDialogEdit(vagas)">
            <mat-icon> border_color</mat-icon>editar</button>
          <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
            <mat-icon class="icon" (click)="delete(vagas.id_vag)" >delete</mat-icon>
          </button>
        </div>
    </div>
</div>

