<div *ngFor="let vagas of vagasEmpresa$ | async" class="card">
    <div class="card-vagas">
        <div class="card-body">
          <h5 class="card-text"></h5>
          <p class="card-text">O que a empresa esta a procura : </p>
          <p class="card-text">{{ vagas.nome }}</p>
          <p class="card-text">proposta de salario: R$: {{ vagas.nome }}</p>
          <p class="card-text">empresa requisitada {{ vagas.tudo.result }}</p>
          <a class="btn btn-primary">candidatar-se</a>
        </div>
    </div>
</div>

