<div class="card">
    <div class="card-header">
      <div class="float-start">
        <h4>empresas</h4>
      </div>
      <div class="float-end">
        <button type="button" class="btn btn-primary" [routerLink]="['/empresas/cadastro']">Novo Curso</button>
      </div>
    </div>
  </div> 
  <div class="card-body">
    <table class="table table-houver">
      <thead>
        <tr>
          <th>#</th>
          <th>empresas</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empresa of empresa$ | async">
          <td>{{ empresa.id}}</td>
          <td>{{ empresa.empresas}}</td>
          <td><img src="empresa.imagem" ></td>
          <td>
            <span class="float-end">
              <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(empresa.id)"> 
                Atuaizar
              </button>
              
              <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(empresa)">
                Remover
              </button>
  
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

